In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [3]:
# This link is currently broken -- https://archive.ics.uci.edu/dataset/117/census+income+kdd
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/census-income-mld/census.tar.gz

--2023-05-18 07:39:13--  https://archive.ics.uci.edu/ml/machine-learning-databases/census-income-mld/census.tar.gz
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9789310 (9.3M) [application/x-httpd-php]
Saving to: ‘census.tar.gz’

census.tar.gz       100%[===================>]   9.33M   854KB/s    in 19s

2023-05-18 07:39:35 (493 KB/s) - ‘census.tar.gz’ saved [9789310/9789310]

In [4]:
ls

census-income-download.ipynb     census-income.names
census-income-exploration.ipynb  census.tar.gz

In [5]:
! gunzip census.tar.gz
!ls

census-income-download.ipynb    census-income.names
census-income-exploration.ipynb census.tar

In [6]:
! tar -xvf census.tar --directory .

x census-income.data
x census-income.names
x census-income.test

In [7]:
! ls

census-income-download.ipynb    census-income.names
census-income-exploration.ipynb census-income.test
census-income.data              census.tar

In [8]:
! rm census.tar
! ls

census-income-download.ipynb    census-income.names
census-income-exploration.ipynb census-income.test
census-income.data

In [3]:
with open("census-income.names", "r") as f:
    names = f.read().strip().split('\n')

In [4]:
col_names = names[23:68]
col_names

['| age\t\t\t\t\t\tAAGE',
 '| class of worker\t\t\t\tACLSWKR',
 '| industry code\t\t\t\t\tADTIND',
 '| occupation code\t\t\t\tADTOCC',
 '| adjusted gross income\t\t\t\tAGI',
 '| education\t\t\t\t\tAHGA',
 '| wage per hour\t\t\t\t\tAHRSPAY',
 '| enrolled in edu inst last wk\t\t\tAHSCOL',
 '| marital status\t\t\t\tAMARITL',
 '| major industry code\t\t\t\tAMJIND',
 '| major occupation code\t\t\t\tAMJOCC',
 '| mace\t\t\t\t\t\tARACE',
 '| hispanic Origin\t\t\t\tAREORGN',
 '| sex\t\t\t\t\t\tASEX',
 '| member of a labor union\t\t\tAUNMEM',
 '| reason for unemployment\t\t\tAUNTYPE',
 '| full or part time employment stat\t\tAWKSTAT',
 '| capital gains\t\t\t\t\tCAPGAIN',
 '| capital losses\t\t\t\tCAPLOSS',
 '| divdends from stocks\t\t\t\tDIVVAL',
 '| federal income tax liability\t\t\tFEDTAX',
 '| tax filer status\t\t\t\tFILESTAT',
 '| region of previous residence\t\t\tGRINREG',
 '| state of previous residence\t\t\tGRINST',
 '| detailed household and family stat\t\tHHDFMX',
 '| detailed household summary in household\tHHDREL',
 '| instance weight\t\t\t\tMARSUPWT',
 '| migration code-change in msa\t\t\tMIGMTR1',
 '| migration code-change in reg\t\t\tMIGMTR3',
 '| migration code-move within reg\t\tMIGMTR4',
 '| live in this house 1 year ago\t\t\tMIGSAME',
 '| migration prev res in sunbelt\t\t\tMIGSUN',
 '| num persons worked for employer\t\tNOEMP',
 '| family members under 18\t\t\tPARENT',
 '| total person earnings\t\t\t\tPEARNVAL',
 '| country of birth father\t\t\tPEFNTVTY',
 '| country of birth mother\t\t\tPEMNTVTY',
 '| country of birth self\t\t\t\tPENATVTY',
 '| citizenship\t\t\t\t\tPRCITSHP',
 '| total person income\t\t\t\tPTOTVAL',
 '| own business or self employed\t\t\tSEOTR',
 '| taxable income amount\t\t\t\tTAXINC',
 "| fill inc questionnaire for veteran's admin\tVETQVA",
 '| veterans benefits\t\t\t\tVETYN',
 '| weeks worked in year\t\t\t\tWKSWORK']

In [5]:
census_columns = ['_'.join(i.lstrip("| ").split("\t")[0].split(" ")) for i in col_names]
census_columns

['age',
 'class_of_worker',
 'industry_code',
 'occupation_code',
 'adjusted_gross_income',
 'education',
 'wage_per_hour',
 'enrolled_in_edu_inst_last_wk',
 'marital_status',
 'major_industry_code',
 'major_occupation_code',
 'mace',
 'hispanic_Origin',
 'sex',
 'member_of_a_labor_union',
 'reason_for_unemployment',
 'full_or_part_time_employment_stat',
 'capital_gains',
 'capital_losses',
 'divdends_from_stocks',
 'federal_income_tax_liability',
 'tax_filer_status',
 'region_of_previous_residence',
 'state_of_previous_residence',
 'detailed_household_and_family_stat',
 'detailed_household_summary_in_household',
 'instance_weight',
 'migration_code-change_in_msa',
 'migration_code-change_in_reg',
 'migration_code-move_within_reg',
 'live_in_this_house_1_year_ago',
 'migration_prev_res_in_sunbelt',
 'num_persons_worked_for_employer',
 'family_members_under_18',
 'total_person_earnings',
 'country_of_birth_father',
 'country_of_birth_mother',
 'country_of_birth_self',
 'citizenship',
 'total_person_income',
 'own_business_or_self_employed',
 'taxable_income_amount',
 "fill_inc_questionnaire_for_veteran's_admin",
 'veterans_benefits',
 'weeks_worked_in_year']

In [6]:
len(census_columns)

45

In [7]:
col_names_ = names[81:121]
col_names_

['|   91 distinct values for attribute #0 (age) continuous',
 '|    9 distinct values for attribute #1 (class of worker) nominal',
 '|   52 distinct values for attribute #2 (detailed industry recode) nominal',
 '|   47 distinct values for attribute #3 (detailed occupation recode) nominal',
 '|   17 distinct values for attribute #4 (education) nominal',
 '| 1240 distinct values for attribute #5 (wage per hour) continuous',
 '|    3 distinct values for attribute #6 (enroll in edu inst last wk) nominal',
 '|    7 distinct values for attribute #7 (marital stat) nominal',
 '|   24 distinct values for attribute #8 (major industry code) nominal',
 '|   15 distinct values for attribute #9 (major occupation code) nominal',
 '|    5 distinct values for attribute #10 (race) nominal',
 '|   10 distinct values for attribute #11 (hispanic origin) nominal',
 '|    2 distinct values for attribute #12 (sex) nominal',
 '|    3 distinct values for attribute #13 (member of a labor union) nominal',
 '|    6 distinct values for attribute #14 (reason for unemployment) nominal',
 '|    8 distinct values for attribute #15 (full or part time employment stat) nominal',
 '|  132 distinct values for attribute #16 (capital gains) continuous',
 '|  113 distinct values for attribute #17 (capital losses) continuous',
 '| 1478 distinct values for attribute #18 (dividends from stocks) continuous',
 '|    6 distinct values for attribute #19 (tax filer stat) nominal',
 '|    6 distinct values for attribute #20 (region of previous residence) nominal',
 '|   51 distinct values for attribute #21 (state of previous residence) nominal',
 '|   38 distinct values for attribute #22 (detailed household and family stat) nominal',
 '|    8 distinct values for attribute #23 (detailed household summary in household) nominal',
 '|   10 distinct values for attribute #24 (migration code-change in msa) nominal',
 '|    9 distinct values for attribute #25 (migration code-change in reg) nominal',
 '|   10 distinct values for attribute #26 (migration code-move within reg) nominal',
 '|    3 distinct values for attribute #27 (live in this house 1 year ago) nominal',
 '|    4 distinct values for attribute #28 (migration prev res in sunbelt) nominal',
 '|    7 distinct values for attribute #29 (num persons worked for employer) continuous',
 '|    5 distinct values for attribute #30 (family members under 18) nominal',
 '|   43 distinct values for attribute #31 (country of birth father) nominal',
 '|   43 distinct values for attribute #32 (country of birth mother) nominal',
 '|   43 distinct values for attribute #33 (country of birth self) nominal',
 '|    5 distinct values for attribute #34 (citizenship) nominal',
 '|    3 distinct values for attribute #35 (own business or self employed) nominal',
 "|    3 distinct values for attribute #36 (fill inc questionnaire for veteran's admin) nominal",
 '|    3 distinct values for attribute #37 (veterans benefits) nominal',
 '|   53 distinct values for attribute #38 (weeks worked in year) continuous',
 '|    2 distinct values for attribute #39 (year) nominal']

In [8]:
import re
pattern = r'\((?P<col>.*?)\)'
prog = re.compile(pattern)
census_columns_ = ["_".join(prog.search(i).group('col').split(" ")) for i in col_names_]
census_columns_[:3]

['age', 'class_of_worker', 'detailed_industry_recode']

In [9]:
len(census_columns_)

40

In [10]:
census_columns

['age',
 'class_of_worker',
 'industry_code',
 'occupation_code',
 'adjusted_gross_income',
 'education',
 'wage_per_hour',
 'enrolled_in_edu_inst_last_wk',
 'marital_status',
 'major_industry_code',
 'major_occupation_code',
 'mace',
 'hispanic_Origin',
 'sex',
 'member_of_a_labor_union',
 'reason_for_unemployment',
 'full_or_part_time_employment_stat',
 'capital_gains',
 'capital_losses',
 'divdends_from_stocks',
 'federal_income_tax_liability',
 'tax_filer_status',
 'region_of_previous_residence',
 'state_of_previous_residence',
 'detailed_household_and_family_stat',
 'detailed_household_summary_in_household',
 'instance_weight',
 'migration_code-change_in_msa',
 'migration_code-change_in_reg',
 'migration_code-move_within_reg',
 'live_in_this_house_1_year_ago',
 'migration_prev_res_in_sunbelt',
 'num_persons_worked_for_employer',
 'family_members_under_18',
 'total_person_earnings',
 'country_of_birth_father',
 'country_of_birth_mother',
 'country_of_birth_self',
 'citizenship',
 'total_person_income',
 'own_business_or_self_employed',
 'taxable_income_amount',
 "fill_inc_questionnaire_for_veteran's_admin",
 'veterans_benefits',
 'weeks_worked_in_year']

In [11]:
census_columns_

['age',
 'class_of_worker',
 'detailed_industry_recode',
 'detailed_occupation_recode',
 'education',
 'wage_per_hour',
 'enroll_in_edu_inst_last_wk',
 'marital_stat',
 'major_industry_code',
 'major_occupation_code',
 'race',
 'hispanic_origin',
 'sex',
 'member_of_a_labor_union',
 'reason_for_unemployment',
 'full_or_part_time_employment_stat',
 'capital_gains',
 'capital_losses',
 'dividends_from_stocks',
 'tax_filer_stat',
 'region_of_previous_residence',
 'state_of_previous_residence',
 'detailed_household_and_family_stat',
 'detailed_household_summary_in_household',
 'migration_code-change_in_msa',
 'migration_code-change_in_reg',
 'migration_code-move_within_reg',
 'live_in_this_house_1_year_ago',
 'migration_prev_res_in_sunbelt',
 'num_persons_worked_for_employer',
 'family_members_under_18',
 'country_of_birth_father',
 'country_of_birth_mother',
 'country_of_birth_self',
 'citizenship',
 'own_business_or_self_employed',
 "fill_inc_questionnaire_for_veteran's_admin",
 'veterans_benefits',
 'weeks_worked_in_year',
 'year']

In [12]:
col_names__ = names[142:]
col_names__

['age: continuous.',
 'class of worker: Not in universe, Federal government, Local government, Never worked, Private, Self-employed-incorporated, Self-employed-not incorporated, State government, Without pay.',
 'detailed industry recode: 0, 40, 44, 2, 43, 47, 48, 1, 11, 19, 24, 25, 32, 33, 34, 35, 36, 37, 38, 39, 4, 42, 45, 5, 15, 16, 22, 29, 31, 50, 14, 17, 18, 28, 3, 30, 41, 46, 51, 12, 13, 21, 23, 26, 6, 7, 9, 49, 27, 8, 10, 20.',
 'detailed occupation recode: 0, 12, 31, 44, 19, 32, 10, 23, 26, 28, 29, 42, 40, 34, 14, 36, 38, 2, 20, 25, 37, 41, 27, 24, 30, 43, 33, 16, 45, 17, 35, 22, 18, 39, 3, 15, 13, 46, 8, 21, 9, 4, 6, 5, 1, 11, 7.',
 'education: Children, 7th and 8th grade, 9th grade, 10th grade, High school graduate, 11th grade, 12th grade no diploma, 5th or 6th grade, Less than 1st grade, Bachelors degree(BA AB BS), 1st 2nd 3rd or 4th grade, Some college but no degree, Masters degree(MA MS MEng MEd MSW MBA), Associates degree-occup /vocational, Associates degree-academic program, Doctorate degree(PhD EdD), Prof school degree (MD DDS DVM LLB JD).',
 'wage per hour: continuous.',
 'enroll in edu inst last wk: Not in universe, High school, College or university.',
 'marital stat: Never married, Married-civilian spouse present, Married-spouse absent, Separated, Divorced, Widowed, Married-A F spouse present.',
 'major industry code: Not in universe or children, Entertainment, Social services, Agriculture, Education, Public administration, Manufacturing-durable goods, Manufacturing-nondurable goods, Wholesale trade, Retail trade, Finance insurance and real estate, Private household services, Business and repair services, Personal services except private HH, Construction, Medical except hospital, Other professional services, Transportation, Utilities and sanitary services, Mining, Communications, Hospital services, Forestry and fisheries, Armed Forces.',
 'major occupation code: Not in universe, Professional specialty, Other service, Farming forestry and fishing, Sales, Adm support including clerical, Protective services, Handlers equip cleaners etc , Precision production craft & repair, Technicians and related support, Machine operators assmblrs & inspctrs, Transportation and material moving, Executive admin and managerial, Private household services, Armed Forces.',
 'race: White, Black, Other, Amer Indian Aleut or Eskimo, Asian or Pacific Islander.',
 'hispanic origin: Mexican (Mexicano), Mexican-American, Puerto Rican, Central or South American, All other, Other Spanish, Chicano, Cuban, Do not know, NA.',
 'sex: Female, Male.',
 'member of a labor union: Not in universe, No, Yes.',
 'reason for unemployment: Not in universe, Re-entrant, Job loser - on layoff, New entrant, Job leaver, Other job loser.',
 'full or part time employment stat: Children or Armed Forces, Full-time schedules, Unemployed part- time, Not in labor force, Unemployed full-time, PT for non-econ reasons usually FT, PT for econ reasons usually PT, PT for econ reasons usually FT.',
 'capital gains: continuous.',
 'capital losses: continuous.',
 'dividends from stocks: continuous.',
 'tax filer stat: Nonfiler, Joint one under 65 & one 65+, Joint both under 65, Single, Head of household, Joint both 65+.',
 'region of previous residence: Not in universe, South, Northeast, West, Midwest, Abroad.',
 'state of previous residence: Not in universe, Utah, Michigan, North Carolina, North Dakota, Virginia, Vermont, Wyoming, West Virginia, Pennsylvania, Abroad, Oregon, California, Iowa, Florida, Arkansas, Texas, South Carolina, Arizona, Indiana, Tennessee, Maine, Alaska, Ohio, Montana, Nebraska, Mississippi, District of Columbia, Minnesota, Illinois, Kentucky, Delaware, Colorado, Maryland, Wisconsin, New Hampshire, Nevada, New York, Georgia, Oklahoma, New Mexico, South Dakota, Missouri, Kansas, Connecticut, Louisiana, Alabama, Massachusetts, Idaho, New Jersey.',
 'detailed household and family stat: Child <18 never marr not in subfamily, Other Rel <18 never marr child of subfamily RP, Other Rel <18 never marr not in subfamily, Grandchild <18 never marr child of subfamily RP, Grandchild <18 never marr not in subfamily, Secondary individual, In group quarters, Child under 18 of RP of unrel subfamily, RP of unrelated subfamily, Spouse of householder, Householder, Other Rel <18 never married RP of subfamily, Grandchild <18 never marr RP of subfamily, Child <18 never marr RP of subfamily, Child <18 ever marr not in subfamily, Other Rel <18 ever marr RP of subfamily, Child <18 ever marr RP of subfamily, Nonfamily householder, Child <18 spouse of subfamily RP, Other Rel <18 spouse of subfamily RP, Other Rel <18 ever marr not in subfamily, Grandchild <18 ever marr not in subfamily, Child 18+ never marr Not in a subfamily, Grandchild 18+ never marr not in subfamily, Child 18+ ever marr RP of subfamily, Other Rel 18+ never marr not in subfamily, Child 18+ never marr RP of subfamily, Other Rel 18+ ever marr RP of subfamily, Other Rel 18+ never marr RP of subfamily, Other Rel 18+ spouse of subfamily RP, Other Rel 18+ ever marr not in subfamily, Child 18+ ever marr Not in a subfamily, Grandchild 18+ ever marr not in subfamily, Child 18+ spouse of subfamily RP, Spouse of RP of unrelated subfamily, Grandchild 18+ ever marr RP of subfamily, Grandchild 18+ never marr RP of subfamily, Grandchild 18+ spouse of subfamily RP.',
 'detailed household summary in household: Child under 18 never married, Other relative of householder, Nonrelative of householder, Spouse of householder, Householder, Child under 18 ever married, Group Quarters- Secondary individual, Child 18 or older.',
 '| instance weight: ignore.',
 'instance weight: continuous.',
 'migration code-change in msa: Not in universe, Nonmover, MSA to MSA, NonMSA to nonMSA, MSA to nonMSA, NonMSA to MSA, Abroad to MSA, Not identifiable, Abroad to nonMSA.',
 'migration code-change in reg: Not in universe, Nonmover, Same county, Different county same state, Different state same division, Abroad, Different region, Different division same region.',
 'migration code-move within reg: Not in universe, Nonmover, Same county, Different county same state, Different state in West, Abroad, Different state in Midwest, Different state in South, Different state in Northeast.',
 'live in this house 1 year ago: Not in universe under 1 year old, Yes, No.',
 'migration prev res in sunbelt: Not in universe, Yes, No.',
 'num persons worked for employer: continuous.',
 'family members under 18: Both parents present, Neither parent present, Mother only present, Father only present, Not in universe.',
 'country of birth father: Mexico, United-States, Puerto-Rico, Dominican-Republic, Jamaica, Cuba, Portugal, Nicaragua, Peru, Ecuador, Guatemala, Philippines, Canada, Columbia, El-Salvador, Japan, England, Trinadad&Tobago, Honduras, Germany, Taiwan, Outlying-U S (Guam USVI etc), India, Vietnam, China, Hong Kong, Cambodia, France, Laos, Haiti, South Korea, Iran, Greece, Italy, Poland, Thailand, Yugoslavia, Holand-Netherlands, Ireland, Scotland, Hungary, Panama.',
 'country of birth mother: India, Mexico, United-States, Puerto-Rico, Dominican-Republic, England, Honduras, Peru, Guatemala, Columbia, El-Salvador, Philippines, France, Ecuador, Nicaragua, Cuba, Outlying-U S (Guam USVI etc), Jamaica, South Korea, China, Germany, Yugoslavia, Canada, Vietnam, Japan, Cambodia, Ireland, Laos, Haiti, Portugal, Taiwan, Holand-Netherlands, Greece, Italy, Poland, Thailand, Trinadad&Tobago, Hungary, Panama, Hong Kong, Scotland, Iran.',
 'country of birth self: United-States, Mexico, Puerto-Rico, Peru, Canada, South Korea, India, Japan, Haiti, El-Salvador, Dominican-Republic, Portugal, Columbia, England, Thailand, Cuba, Laos, Panama, China, Germany, Vietnam, Italy, Honduras, Outlying-U S (Guam USVI etc), Hungary, Philippines, Poland, Ecuador, Iran, Guatemala, Holand-Netherlands, Taiwan, Nicaragua, France, Jamaica, Scotland, Yugoslavia, Hong Kong, Trinadad&Tobago, Greece, Cambodia, Ireland.',
 'citizenship: Native- Born in the United States, Foreign born- Not a citizen of U S , Native- Born in Puerto Rico or U S Outlying, Native- Born abroad of American Parent(s), Foreign born- U S citizen by naturalization.',
 'own business or self employed: 0, 2, 1.',
 "fill inc questionnaire for veteran's admin: Not in universe, Yes, No.",
 'veterans benefits: 0, 2, 1.',
 'weeks worked in year: continuous.',
 'year: 94, 95.']

In [13]:
census_columns__ = ["_".join(i.split(':')[0].split(" ")) for i in col_names__ if "|" not in i]
census_columns__.append("income")
print(len(census_columns__))

42

In [14]:
census_train = pd.read_csv("census-income.data", names=census_columns__)
print(census_train.shape)
census_train.head()

(199523, 42)

,age,class_of_worker,detailed_industry_recode,detailed_occupation_recode,education,wage_per_hour,enroll_in_edu_inst_last_wk,marital_stat,major_industry_code,major_occupation_code,...,country_of_birth_father,country_of_birth_mother,country_of_birth_self,citizenship,own_business_or_self_employed,fill_inc_questionnaire_for_veteran's_admin,veterans_benefits,weeks_worked_in_year,year,income
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.

In [15]:
def preprocess(df, drop_col="instance_weight"):
    census = df.copy()
    
    # drop instance weight
    if drop_col is not None:
        census = census.drop(columns=drop_col)
        
    num_cols = census._get_numeric_data().columns
    cat_cols = list(set(census.columns) - set(num_cols))
    
    discrete_cols = ["detailed_industry_recode", "detailed_occupation_recode", "own_business_or_self_employed", "veterans_benefits", "year"]
    
    
    for i in cat_cols:
        census[i] = census[i].str.strip()
        
    
    # make target column consistent with adult
    census.income = census.income.replace("- 50000.", "<=50K").replace("50000+.", ">50K")
    
    return census, cat_cols, num_cols, discrete_cols

In [16]:
census_train, cat_cols, num_cols, discrete_cols = preprocess(census_train)

census_train.shape

(199523, 41)

In [17]:
census_train.income.value_counts()

<=50K    187141
>50K      12382
Name: income, dtype: int64

In [18]:
census_train.head()

,age,class_of_worker,detailed_industry_recode,detailed_occupation_recode,education,wage_per_hour,enroll_in_edu_inst_last_wk,marital_stat,major_industry_code,major_occupation_code,...,country_of_birth_father,country_of_birth_mother,country_of_birth_self,citizenship,own_business_or_self_employed,fill_inc_questionnaire_for_veteran's_admin,veterans_benefits,weeks_worked_in_year,year,income
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,<=50K
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,<=50K
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,<=50K
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,<=50K
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,<=50K

In [19]:
print(len(num_cols))
num_cols

12

Index(['age', 'detailed_industry_recode', 'detailed_occupation_recode',
       'wage_per_hour', 'capital_gains', 'capital_losses',
       'dividends_from_stocks', 'num_persons_worked_for_employer',
       'own_business_or_self_employed', 'veterans_benefits',
       'weeks_worked_in_year', 'year'],
      dtype='object')

In [20]:
print(len(cat_cols))
cat_cols

29

['tax_filer_stat',
 'enroll_in_edu_inst_last_wk',
 "fill_inc_questionnaire_for_veteran's_admin",
 'sex',
 'migration_code-change_in_msa',
 'state_of_previous_residence',
 'education',
 'income',
 'migration_code-move_within_reg',
 'country_of_birth_father',
 'family_members_under_18',
 'full_or_part_time_employment_stat',
 'detailed_household_and_family_stat',
 'detailed_household_summary_in_household',
 'migration_code-change_in_reg',
 'live_in_this_house_1_year_ago',
 'citizenship',
 'major_industry_code',
 'member_of_a_labor_union',
 'country_of_birth_mother',
 'race',
 'major_occupation_code',
 'hispanic_origin',
 'migration_prev_res_in_sunbelt',
 'marital_stat',
 'country_of_birth_self',
 'reason_for_unemployment',
 'region_of_previous_residence',
 'class_of_worker']

In [21]:
continuous_columns = list(set(num_cols) - set(discrete_cols))
print(len(continuous_columns))

continuous_columns

7

['age',
 'weeks_worked_in_year',
 'dividends_from_stocks',
 'wage_per_hour',
 'capital_losses',
 'num_persons_worked_for_employer',
 'capital_gains']

In [22]:
census_train.to_csv("train.csv", index=None)

In [23]:
ls

census-income-download.ipynb     census-income.test
census-income-exploration.ipynb  census.csv
census-income.data               demo.csv
census-income.data.html*         test.csv
census-income.html*              train.csv
census-income.names

In [24]:
census_test = pd.read_csv("census-income.test", names=census_columns__)
print(census_test.shape)
census_test.head()

(99762, 42)

,age,class_of_worker,detailed_industry_recode,detailed_occupation_recode,education,wage_per_hour,enroll_in_edu_inst_last_wk,marital_stat,major_industry_code,major_occupation_code,...,country_of_birth_father,country_of_birth_mother,country_of_birth_self,citizenship,own_business_or_self_employed,fill_inc_questionnaire_for_veteran's_admin,veterans_benefits,weeks_worked_in_year,year,income
0,38,Private,6,36,1st 2nd 3rd or 4th grade,0,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,Machine operators assmblrs & inspctrs,...,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,12,95,- 50000.
1,44,Self-employed-not incorporated,37,12,Associates degree-occup /vocational,0,Not in universe,Married-civilian spouse present,Business and repair services,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,26,95,- 50000.
2,2,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,- 50000.
3,35,Private,29,3,High school graduate,0,Not in universe,Divorced,Transportation,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,94,- 50000.
4,49,Private,4,34,High school graduate,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,50,95,- 50000.

In [25]:
census_test, _, _, _ = preprocess(census_test)
census_test.shape

(99762, 41)

In [26]:
census_test.income.value_counts()

<=50K    93576
>50K      6186
Name: income, dtype: int64

In [27]:
census_test.to_csv("test.csv", index=None)

In [28]:
ls

census-income-download.ipynb     census-income.test
census-income-exploration.ipynb  census.csv
census-income.data               demo.csv
census-income.data.html*         test.csv
census-income.html*              train.csv
census-income.names

In [29]:
census_all = pd.concat([census_train, census_test])
census_all.to_csv("census.csv", index=None)

In [30]:
census_demo = census_train.sample(100, random_state=1000)
census_demo.reset_index(inplace=True, drop=True)
census_demo.head()

,age,class_of_worker,detailed_industry_recode,detailed_occupation_recode,education,wage_per_hour,enroll_in_edu_inst_last_wk,marital_stat,major_industry_code,major_occupation_code,...,country_of_birth_father,country_of_birth_mother,country_of_birth_self,citizenship,own_business_or_self_employed,fill_inc_questionnaire_for_veteran's_admin,veterans_benefits,weeks_worked_in_year,year,income
0,4,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,<=50K
1,70,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,Italy,Italy,United-States,Native- Born in the United States,0,Not in universe,2,0,95,<=50K
2,26,Not in universe,0,0,9th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,52,95,<=50K
3,61,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,<=50K
4,18,Not in universe,0,0,11th grade,0,High school,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94,<=50K

In [31]:
census_demo.to_csv("demo.csv", index=None)

In [32]:
cat_cols+discrete_cols

['tax_filer_stat',
 'enroll_in_edu_inst_last_wk',
 "fill_inc_questionnaire_for_veteran's_admin",
 'sex',
 'migration_code-change_in_msa',
 'state_of_previous_residence',
 'education',
 'income',
 'migration_code-move_within_reg',
 'country_of_birth_father',
 'family_members_under_18',
 'full_or_part_time_employment_stat',
 'detailed_household_and_family_stat',
 'detailed_household_summary_in_household',
 'migration_code-change_in_reg',
 'live_in_this_house_1_year_ago',
 'citizenship',
 'major_industry_code',
 'member_of_a_labor_union',
 'country_of_birth_mother',
 'race',
 'major_occupation_code',
 'hispanic_origin',
 'migration_prev_res_in_sunbelt',
 'marital_stat',
 'country_of_birth_self',
 'reason_for_unemployment',
 'region_of_previous_residence',
 'class_of_worker',
 'detailed_industry_recode',
 'detailed_occupation_recode',
 'own_business_or_self_employed',
 'veterans_benefits',
 'year']

In [33]:
df = census_train.copy()

In [34]:
for i in cat_cols:
    df[i] =df[i].astype('category').cat.codes

In [35]:
corr =  df.corr()
corr['income']

age                                           0.135720
class_of_worker                               0.099767
detailed_industry_recode                      0.196190
detailed_occupation_recode                    0.013414
education                                     0.098068
wage_per_hour                                 0.024528
enroll_in_edu_inst_last_wk                    0.059848
marital_stat                                 -0.154495
major_industry_code                          -0.069000
major_occupation_code                         0.062048
race                                          0.042100
hispanic_origin                              -0.059119
sex                                           0.157610
member_of_a_labor_union                      -0.041457
reason_for_unemployment                      -0.005955
full_or_part_time_employment_stat             0.018785
capital_gains                                 0.240725
capital_losses                                0.147417
dividends_from_stocks                         0.175779
tax_filer_stat                               -0.137659
region_of_previous_residence                 -0.000618
state_of_previous_residence                   0.015015
detailed_household_and_family_stat            0.078594
detailed_household_summary_in_household       0.071860
migration_code-change_in_msa                 -0.010289
migration_code-change_in_reg                 -0.016792
migration_code-move_within_reg               -0.016079
live_in_this_house_1_year_ago                 0.015476
migration_prev_res_in_sunbelt                -0.013904
num_persons_worked_for_employer               0.222684
family_members_under_18                       0.151408
country_of_birth_father                       0.004277
country_of_birth_mother                       0.005011
country_of_birth_self                        -0.001375
citizenship                                   0.013676
own_business_or_self_employed                 0.040473
fill_inc_questionnaire_for_veteran's_admin   -0.025965
veterans_benefits                             0.140930
weeks_worked_in_year                          0.262316
year                                          0.014794
income                                        1.000000
Name: income, dtype: float64

In [36]:
import sys
sys.path.append("../../../")
sys.path.append("../../")
from margctgan.metrics import utility

In [37]:
f1_score = utility.efficacy_test(fakedata=census_train, realdata=census_test, target_name="income")
print(f1_score)

/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.42810785752916636

/Users/tejumadeafonja/.env/faketable/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(